<div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		
		<!--NAVBAR -->

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">LOGO</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#about">About</a></li>
				<li><a href="#features">Features</a></li>
				<li><a href="#press">Press</a></li>
				<li><a href="#screenshots">Screen</a></li>
				<li><a href="#reviews">Reviews</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>

		<!--END NAVBAR-->

	</div>	
</div>

<!--HEADER-->
<div class="header">
	<div class="container">
		<div class="row">
			
			<!--FIRST HALF OF COLUMN-->

			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
				<h1>Welcome</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

				<!-- Add a button as a list in line -->
				<ul class="list-inline">
					<li><a href="#" class="btn btn-trans btn-md">Buy Online</a></li>
					<li><a href="#" class="btn btn-trans btn-md">Read Review</a></li>
				</ul>				
			</div>

			<!-- SECOND HALF OF COLUMN -->
			<!--The image  in this column is aligned by default to the left we will alignt to center-->
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" align="center">
				<img class="img-responsive" src="/images/devices.png" alt="">
			</div>

		</div>
	</div>
</div>


<!-- END HEADER -->

<!-- ABOUT SECTION -->

<div class="about" id="about">
	<div class="container">
		<div class="row">

			<div class="col-lg-12 col-md-12">
				<h1  class="wow fadeIn" data-wow-delay="0.4s">THIS APP WILL HELP YOU CONNECT WITH THE PEOPLE</h1>
				<p class="wow fadeIn" data-wow-delay="0.8s"><em>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</em></p>
			</div>

		</div>
		<div class="row">

			<div class="col-lg-12 col-md-12">
				<h1>WHO WE ARE</h1>
				<p>A brief Introduction:</p>
			</div>

		</div>
		<div class="row">

			<div class="col-lg-4 col-md-4 wow fadeIn" data-wow-delay="0.3s">
				<img src="/images/face1.jpg" class="img-circle" alt="">
				<blockquote><p><em>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium"<footer>J.doe Founder</footer></em></p></blockquote>
			</div>

			<div class="col-lg-4 col-md-4 wow fadeIn" data-wow-delay="0.5s">
				<img src="/images/face2.jpg" class="img-circle" alt="">
				<blockquote><p><em>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium"<footer>J.doe Designer</footer></em></p></blockquote>
			</div>

			<div class="col-lg-4 col-md-4 wow fadeIn" data-wow-delay="0.7s">
				<img src="/images/face3.jpg" class="img-circle" alt="">
				<blockquote><p><em>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium"<footer>J.doe Developer</footer></em></p></blockquote>
			</div>

		</div>
	</div>
</div>

<!-- END ABOUT -->

<!-- FEATURES -->

<!-- Install Font Awesome from the link
	http://fontawesome.io/ -->

<div class="features" id="features">
	<div class="container">
		<div class="row">
			
			<div class="col-lg-12 col-md-12">
				<h1>FEATURES</h1>	
				<p>See how awesome our app is with a list of features</p>			
			</div>

		</div>
		<div class="row">
			
			<div class="col-lg-4 col-md-4 wow bounceInLeft">
				<i class = "fa fa-cloud-upload fa-3x"></i>
				<h4>Sync all devices</h4>
				<p>This App will sync all information in one single click</p>
				
				<i class = "fa fa-map-pin fa-3x"></i>
				<h4>Location services</h4>
				<p>Share your location with your frients</p>
				
				<i class = "fa fa-battery-full fa-3x"></i>
				<h4>Conserver Battery</h4>
				<p>Low Level battery usage</p>
			
			</div>

			<div class="col-lg-4 col-md-4 wow fadeIn" wow-data-delay="0.2s" align="center">
				<img src="images/screenshots/iphonescreen.png" class="img-responsive" alt="">
			</div>

			<div class="col-lg-4 col-md-4 wow bounceInRight">
				
				<i class = "fa fa-share-square-o fa-3x"></i>
				<h4>Share With Friend</h4>
				<p>Send your best posts or latest gossip with quick share button</p>
				
				<i class = "fa fa-film fa-3x"></i>
				<h4>Stream on the Go</h4>
				<p>Stream videos superfast</p>
				
				<i class = "fa fa-safari fa-3x"></i>
				<h4>Cross Browser</h4>
				<p>Logi n to your account and see all your feeds</p>
			
			</div>
		
		</div>
	</div>
</div>


<!-- END FEATURES -->

<div class="press" id="press">
	<div class="container">
		
		<div class="row">
			
			<div class="col-lg-12 col-md-12">
				<h1>PRESS COVERAGE</h1>
				<p>WE have been covered in the following coverage</p>
			</div>
		
		</div>

<!-- PRESS -->

		<div class="row">
		
			<div class="col-lg-12 col-md-12">

				<ul class= "press-logo list-inline">
					<li class="col-lg-3 col-md-3 col-xs-6"><a href="#"><img class="img-responsive" src="/images/logos/cnn.png" alt=""></a></li>
					<li class="col-lg-3 col-md-3 col-xs-6"><a href="#"><img class="img-responsive" src="/images/logos/wired.png" alt=""></a></li>
					<li class="col-lg-3 col-md-3 col-xs-6"><a href="#"><img class="img-responsive" src="/images/logos/kickstarter.png" alt=""></a></li>
					<li class="col-lg-3 col-md-3 col-xs-6"><a href="#"><img class="img-responsive" src="/images/logos/bbc.png" alt=""></a></li>
				</ul>
				
				<ul class= "press-logo list-inline">
					<li class="col-lg-3 col-md-3 col-xs-6"><a href="#"><img class="img-responsive" src="/images/logos/verge.png" alt=""></a></li>
					<li class="col-lg-3 col-md-3 col-xs-6"><a href="#"><img class="img-responsive" src="/images/logos/guardian.png" alt=""></a></li>
					<li class="col-lg-3 col-md-3 col-xs-6"><a href="#"><img class="img-responsive" src="/images/logos/techradar.png" alt=""></a></li>
					<li class="col-lg-3 col-md-3 col-xs-6"><a href="#"><img class="img-responsive" src="/images/logos/telegraph.png" alt=""></a></li>
				</ul>

			</div>
		
		</div>

		<div class="row">
		
			<div class="col-lg-12 col-md-12">
				<p>If you would like to contact our press team, please do so on <a href="mailto:press@appname.com">press[at]appname.com</a></p>
			</div>
		
	</div>

	</div>
</div>


<!-- END PRESS -->

<!-- END SCREEN SHOT -->

<div class="screenshots" id="screenshots">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h1>TAKE A LOOK</h1>
				<p>View some of our screenshot from latest update now available to download</p>
			</div>	
		</div>

		<div class="row">

			<div class="col-lg-3 col-md-3 col-sm-6 wow flipInY" data-wow-delay="0.2s">		
				<img class="img-responsive"src="images/screenshots/profile-home.jpg" alt="">
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 wow flipInY" data-wow-delay="0.3s">
				<img class="img-responsive"src="images/screenshots/photostream.jpg" alt="">
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 wow flipInY" data-wow-delay="0.4s">
				<img class="img-responsive"src="images/screenshots/messenger-overview.jpg" alt="">
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 wow flipInY" data-wow-delay="0.5s">
				<img class="img-responsive"src="images/screenshots/weather.jpg" alt="">
			</div>			

		</div>

	</div>
</div>




<!-- SCREEN SHOT -->

<!-- REVIEWS -->

<div class="reviews" id="reviews">
	<div class="container">
		
		<div class="row">

			<div class="col-lg-12 col-md-12">
				<h1>REVIEWS</h1>
				<p>Read what our loyal customers have to say about us</p>
			</div>
			
		</div>

		<div class="row">
			
			<div class="col-lg-4 col-md-4">
				<blockquote>
					<p>This is easily the best app I have ever used</p><footer>S.K Harsh <cite> London UK</cite></footer>
				</blockquote>
			</div>

			<div class="col-lg-4 col-md-4">
				<blockquote>
					<p>Havent stopped using this since I downloaded</p><footer>S.K Harsh <cite> Ny USA</cite></footer>
				</blockquote>
			</div>

			<div class="col-lg-4 col-md-4">
				<blockquote>
					<p>Cant speak highly enough of this app, download it</p><footer>S.K Harsh <cite> Syndney  Australia</cite></footer>
				</blockquote>
			</div>			

		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<blockquote>
				<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p><footer>S.K Harsh <cite> Paris  France</cite></footer>
				</blockquote>
			</div>
		</div>

	</div>
</div>

<!-- END REVIEWS -->

<!-- BUY -->

<div class="buy" id= "buy">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h1>Download the app now</h1>
				<p>Download the app via Apple and google and save 25%</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<button class="wow bounceInLeft"><a href="http://www.apple.com" target="blank"><img class="img-responsive" src="/images/app-store.png" alt=""></a></button>
				<button class="wow bounceInRight"><a href="http://www.apple.com" target="blank"><img class="img-responsive" src="/images/google-play.png" alt=""></a></button>
			</div>
		</div>
	</div>
</div>
<!-- END BUY -->


<!-- CONTACT -->

<div class="contact" id="contact">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h1>CONTACT US</h1>
				<p>Connect with us via</p>	

					<ul class="list-inline">
						<li class="wow fadeIn" data-wow-delay="0.2s"><a href="http://www.flickr.com" target="blank"><i class= "fa fa-flickr fa-4x"></i> </a></li>
						<li class="wow fadeIn" data-wow-delay="0.3s"><a href="http://www.faceebok.com" target="blank"><i class= "fa fa-facebook-official fa-4x"></i> </a></li>
						<li class="wow fadeIn" data-wow-delay="0.4s"><a href="http://www.flickr.com" target="blank"><i class= "fa fa-twitter-square fa-4x"></i> </a></li>
						<li class="wow fadeIn" data-wow-delay="0.5s"><a href="http://www.flickr.com" target="blank"><i class= "fa fa-instagram fa-4x"></i> </a></li>
						<li class="wow fadeIn" data-wow-delay="0.6s"><a href="http://www.flickr.com" target="blank"><i class= "fa fa-linkedin-square fa-4x"></i> </a></li>
						<li class="wow fadeIn" data-wow-delay="0.7s"><a href="http://www.flickr.com" target="blank"><i class= "fa fa-pinterest-square fa-4x"></i> </a></li>
					</ul>		
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<p>Or contact us via the following</p>

				<ul class="list-inline">
					<li><i class= "fa fa-map-marker"></i>Address Line1, Address Line 2, County, Postcode, Country</li>
					<li><i class= "fa fa-phone"></i>074342342440112 345 678</li>
					<p></p>
					<li><i class= "fa fa-envelope-o"></i><a href="mailto:info@appname.com">info[at]appname.com</a></li>
				</ul>
			</div>
		</div>
	
	</div>
</div>
<!-- END CONTACT -->

<!-- FOOTER -->

<div class="footer">
	<div class="container">
		<div class="row">
			
			<div class="col-lg-4 col-md-4 ">
				<h1>LOGO</h1>
				<p>Since 2015</p>
				<p><em>'Deleivering apps for low cost and maximum fun'</em></p>
			</div>

			<div class="col-lg-4 col-md-4">
				<h1>GET IN TOUCH:</h1>
				<p><i class= "fa fa-phone"></i>07434234244</p>
				<p><i class= "fa fa-envelope-o"></i><a href="mailto:info@appname.com">info[at]appname.com</a></p>
			</div>

			<div class="col-md-4 col-lg-4">
				<h1>ABOUT US:</h1>
				<p>Delievring high quality </p>
				<p>Company name &copy; 2015</p>
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->